/* Styles for WATS 3020 FizzBuzz Assignment */

#max-number {
    font-weight: 700;
}

pre {
    padding: 1rem;
    background: #e8e8e8;
    font-size: 1.4rem;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}